@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
:root {
    --color-primary-purple: #5722CD;
    --color-secondary-blue: #4845E4;
    --color-button-pink: #ED4385;
    --color-text-black: #0C0C0C; /* Default text */
    /* Exceptions */
    --color-text-bg-light-purple: #F2F0FF; /* For large floating text */
    --color-bg-light-grey: #F3F6F9; /* Background for projects */
    --color-text-secondary-grey: #7A7A7A; /* For text on purple background */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/*
// <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name

.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

/*----- Font for headings -----*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    font-weight: 900;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 2em;
}

p {
    font-size: 2.5em;
}





/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.padding {
    padding: 60em 0;
}

.button {
    background-color: var(--color-button-pink);
    border-radius: 2em;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 200px;
    font-size: 4em;
    padding: 1em 1em;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header * {
    color: var(--color-text-bg-light-purple);

}

header {
    background:
            /* squiggle */
            center bottom/2em no-repeat url("assets/squiggle_line_stripe.svg"),
            /* background color gradient */
            linear-gradient(var(--color-primary-purple), var(--color-secondary-blue));
    display: flex;
    flex-direction: column;

}

.nav {
    padding: 1em 8em 1em 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 2em;
}

.hero {
    gap: 1em;
}

/* --------------- 4.2 Introduction ------------------- */
main {
    display: flex;
    flex-direction: column;
}

/* ------------------------------- 5. Media Queries -------------------------------- */